@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFBF6;
  }

.background {
  background: radial-gradient(70.7% 101.31% at 6.91% -5.81%,
  rgba(137, 184, 255, 0.2) 4.81%, rgba(255, 188, 188, 0) 100%),
  radial-gradient(142.01% 374.42% at 87.85% 111.74%, rgba(249, 210, 210, 0.2) 0%,
  rgba(255, 232, 232, 0) 100%)
  , #253527;
}

 .frame-heading {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  gap: 0px;
 }

 .frame-container {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0px;
  gap: 0px;
 }

 .flex-heading {
  display: flex;
  align-items: center;
  height: fit-content;
}

  .flex-container {
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: center;
  }

  .flex-half {
    width: 20%;
  }

  .flex-left {
    width: 30%;
    animation: fade-in ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;

  }

  .flex-center {
    width: 2%;
    animation: fade-in ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
  }

  .flex-right {
    width: 30%;
    animation: fade-in ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
  }

  .flex-full {
    width: 50%;
  }

 .link {
  color: #FFFBF6;
 }

 .link:hover {
  text-decoration: none;
  color: #9194f9!important;
 }

  /* Spacing */
  .spacing-10 {
    min-height: 10px;
    max-height: 10px;
  }
  
  .spacing-30 {
    min-height: 30px;
    max-height: 30px;
  }
  
  .spacing-60 {
    min-height: 60px;
    max-height: 60px;
  }
  
  /* Text */
  h1 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: xx-large;
    align-items: center;
    letter-spacing: 0.04em;
    background: linear-gradient(94.63deg, rgba(41, 85, 240, 0.5) -6.86%, rgba(105, 133, 100, 0.5) 49.49%), #FFFBF6;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 2%;
  }
  
  h2 { 
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: large;
    align-items: center;
    letter-spacing: 0.08em;
    color: #FFFBF6;
    margin-bottom: 2%;
  }

  h3 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    font-size: small;
    align-items: center;
    letter-spacing: 0.08em;
    color: #FFFBF6;
    margin-bottom: 2%;
  }

  h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: small;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFBF6;
  }
  
  h5 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: large;
    letter-spacing: 0.08em;
    color: #000000;
    margin: 0;
    padding: 0;
    margin-bottom: 4%;
  }

  h6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 900;
    font-size: x-large;
    letter-spacing: 0.08em;
    color: #3E6142;
    margin: 0;
    padding: 0;
    margin-bottom: 4%;
  }

  h7 {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 900;
    font-size: small;
    letter-spacing: 0.08em;
    color: #24201F;
    margin-bottom: 0;
  }

  /* Media */
  img {
    width: 100%;
    height: auto;
  }

  .hover {
    position: absolute;
  }

  .hover_img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }

  .flex-container:hover .hover_img {
    display: inline;
  }

  .flex-container:hover .hover_txt {
    text-shadow: 1px 1px 4px #D6DCF6;
  }
  
  a {
    text-decoration: none;
  }
